
--SE REEMPLAZA SP_BuscarMaterialxProveedor POR SP_BuscarQuiebrexProveedor
USE [WMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarContenedores]    Script Date: 15/10/2019 9:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--********************************      
--STORE PROCEDURE: SP_BuscarQuiebrexProveedor     
--********************************       
ALTER PROCEDURE [dbo].[SP_BuscarQuiebrexProveedor]       
(        
 @proveedor   int
 
)       
AS       
BEGIN        
select DISTINCT         
C.ID_Contenedor+10000 as 'Código',  DC.Cantidad,
TU.Descripcion as 'Tipo de ubicación',      
M.preciocompra,    
C.Etiqueta as 'Etiqueta',         
dbo.EtiquetaUbicacion(C.ID_Ubicacion) as 'Ubicación',         
COALESCE(C.Calidad,0) as 'Capacidad Contenedor',
SUM(COALESCE(DC.Cantidad,0)) as 'Cantidad Ingresada',        
COALESCE(C.Calidad,0) - SUM(COALESCE(DC.Cantidad,0)) as 'Capacidad Disponible', 
C.Ancho as 'Ancho',          
C.Alto as 'Alto',         
M.Nombre        
from Contenedor C        
inner join Tipo_Ubicacion TU  on C.ID_Tipo_Ubicacion = TU.ID_Tipo_Ubicacion       
left join Detalle_Contenedor DC on C.ID_Contenedor = DC.ID_Contenedor       
left join Material  M on M.ID_Material = DC.ID_Material   
LEFT JOIN Materiales_Proveedor MP  ON  MP.ID_Material=M.ID_Material
where  MP.ID_Proveedor=@proveedor and DC.CANTIDAD<M.StockSeguridad     
Group By  C.ID_Contenedor,TU.Descripcion,C.Etiqueta,C.ID_Ubicacion,C.Ancho,C.Alto,C.Superior,C.Calidad , DC.Cantidad,M.preciocompra,M.Nombre
END      

